.container {
    height: 400px;
    width: 700px;
}

.yellow {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: yellow;
    justify-content: center;
    align-items: center;
}

.purple {
    height: 100px;
    width: 100px;
    background-color: purple;
}