#title {
    font-size: 20px;
    margin-left: 2em;
}

/* Exercise 3 */
#north-container {
    background-color: #ee5e44;
    width: 10em;
    font-size: 36px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: #166d88 0.5em solid;
    margin-left: 2rem;
}
#south-container {
    background-color: #5fc7e7;
    width: 10em;
    margin-top: 1rem;
    font-size: 36px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: #166d88 0.5em solid;
    margin-left: 2rem;
}
.Exercise-3 {
    display: flex;
    height: 3em;
    justify-content: center;
    align-items: center;
}